<h2 class="title">Planets</h2>

<mat-progress-spinner *ngIf="!dataLoaded" [mode]="'indeterminate'" [value]="50">
</mat-progress-spinner>
<section [ngClass]="{'data-loading': !dataLoaded}" >
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search columns"
      id="search"
      name="search"

      #input
    />
  </mat-form-field>


  <mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
  matSortActive="name"
  matSortDirection="asc"
>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row[column].length < 19">{{ row[column] }}</span>
        <span
          *ngIf="row[column].length > 19"
          [matTooltip]="populateTooltip(column, row)"
          >{{ row[column] | ellipsis }}</span
        >
      </td>
    </ng-container>
  </ng-container>
</mat-table>




</section>
