@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field.mat-form-field {
  display: block;
}

mat-dialog-container.mat-dialog-container {
  padding: 40px;
}

.cdk-global-overlay-wrapper {
  display: block;
}

input.mat-input-element:disabled {
  cursor: not-allowed;
}

th.mat-header-cell {
  text-align: left;
}

mat-table th.mat-header-cell,
mat-table td.mat-cell,
td.mat-footer-cell {
  padding-left: 15px;
  vertical-align: middle;
  text-transform: capitalize;
}

.content[role="main"] {
  display: table;
  max-width: 1086px;
}

app-starships{
  width: 90%;
}

.mat-progress-spinner {
  margin: 0 auto;
}

mat-column-group {
  width: 150px;
  max-width: 150px;
}

h2.title{
  text-align: center;
}

.data-loading{
  visibility: hidden;
}

.mat-tooltip{
  text-transform: capitalize;
}
